:root {
  --primary-color: #5e3dc4;
  --primary-hover: #9d8fc8;
}

.NavBar {
  @apply flex bg-[var(--primary-color)]  mt-6
  justify-around items-center
  /* mobile */
  flex-col
  /* large */
  md:flex-row;
}

.NavBar .logo {
  @apply font-extrabold text-[20px] text-white
  /* mobile */
  mt-5
  /* large */
  md:mt-0
  /* */;
}

.NavBar > .menu {
  @apply h-[100%]
  overflow-hidden
  flex items-center;
}

.NavBar > .menu > a {
  @apply p-5
  text-white text-[14px]
  hover:bg-[var(--primary-hover)];
}

.NavBar > .menu > a.active {
  @apply bg-[var(--primary-hover)];
}
